{% extends 'restourant/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/cart.css' %}">

<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive" style="height:auto ;">
                <table class="table "  style="height:auto ;">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col"></th>
                            <th scope="col">Quantity and Update</th>

                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                        <tr>

                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img style="width: 151px;height: 102px;" src="{{item.product.image.url}}"
                                            alt="">
                                    </div>
                                    <div class="media-body">
                                        <p>{{item.product.title}}</p>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <h5></h5>
                            </td>
                            <td>
                                <form class="product_count" method="POST" action="{% url 'update_cart' item.id %}">

                                    {% csrf_token %}



                                    <input type="text" name="count" maxlength="12" id="count_{{ item.id }}"
                                        value="{{ item.count }}" title="Quantity:" class="input-text qty">
                                    <button
                                        onclick="var result = document.getElementById('count_{{ item.id }}'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                        class="increase items-count" type="button"><i
                                            class="lnr lnr-chevron-up"></i></button>
                                    <button
                                        onclick="var result = document.getElementById('count_{{ item.id }}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                        class="reduced items-count" type="button"><i
                                            class="lnr lnr-chevron-down"></i></button>

                                    <button style="border-radius:10px 
                                            ;" type="submit" class="update-button"
                                        data-item-id="{{ item.id }}">Yangilash</button>
                                </form>
                            </td>
                            <td>
                                <input type="text" class="text-center price_product" value="{{item.product.price}}" >
                                
                               
                            </td>

                            <td>
                                <h5 class="text-center total">$.00</h5>
                            </td>
                          
                            
                            <td>
                                <form id="delete-form" method="post" action="{% url 'delete_cart' item.id %}">
                                    {% csrf_token %}
                                    <!-- <input type="submit" value="Savatchadan olib tashlash"> -->
                                    <button style="border-radius: 10px;" class="delete-cart"
                                        data-item-id="{{ item.id }}">
                                        <i class="lnr lnr-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr class="bottom_button">
                            <td class="d-flex justify-content-between align-items-center">
                                <p>
                                    TOTAL : 
                                  
                                </p>
                                <h5 class="text-center">  ${{total_amount}}.00</h5>
                            </td>
                      
                            <td>
                              
                            </td>
                            <!-- ======= DELETE CART ====== -->
                            <td colspan="3">
                                <form action="{% url 'order' %}" method="POST" class="d-flex justify-content-between align-items-center"> 
                                    {% csrf_token %}
                                    <label for="payment_type">Payment Type:</label>
                                    <select name="payment_type" system_name="payment_type" id="payment_type">
                                        <option value="payme">Payme</option>
                                        <option value="cash">Naxd</option>
                                        <!-- Add other payment types if necessary -->
                                    </select>
                                    <button class="btn primary-btn" type="submit">To'lov qilish</button>
                                </form> 
                                
                            </td> 
                                <!-- ==== END === -->

                             
                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
    </div>  
</section>  
<!--================End Cart Area =================-->
<script>
    window.addEventListener('DOMContentLoaded', ()=>{
        let qty = document.querySelectorAll('.qty'),
        price = document.querySelectorAll('.price_product'),
        totals = document.querySelectorAll('.total');

        console.log(qty)

        totals.forEach((total,i)=>{
            let summa = 1;

            total.textContent = `$ ${+(qty[i].value) * +(price[i].value)}.00`

            
        })

        

    })
</script>


{% endblock %}